fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv
pytest
httpx
shapely
rasterio
pyproj
python-multipart
torch
torchvision
segmentation-models-pytorch
netCDF4
xarray
scipy
Pillow
matplotlib
reportlab
pandas
